$backgroundColor: #f0f0f0;
$primaryColor: #1e1e1e;
$secondaryColor: #7b7b7b;
$accentColor: #f37a20;
$placeholderText: #bcbcbc;
$error: #f33636;
$success: #59ff9c;
$white: #fff;

$font-10: 10px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;

$regular: 400;
$medium: 500;
$semibold: 600;
