@import "../../assets/scss/variables.scss";

.background {
  height: 100%;
  background-color: $backgroundColor;
  overflow: auto;
}

.home_card {
  width: 500px;
}

.headline {
  margin: 0;
  font-size: $font-28;
  font-weight: $medium;
  color: $accentColor;
}

.sub_headline {
  margin: 0;
  font-size: $font-18;
  font-weight: $medium;
  color: $primaryColor;
}

.bodytext {
  margin: 0;
  font-size: $font-14;
  color: $secondaryColor;
}

.search_by_text {
  margin: 0;
  font-size: $font-14;
  color: $primaryColor;
}

.selected_search_type_value {
  margin: 0;
  font-size: $font-16;
  font-weight: $medium;
  color: $accentColor;
}

.search_wrapper {
  width: 50%;
}

.product_wrapper {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 786px) {
  .search_wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .product_wrapper {
    width: 100%;
  }
}
