@import "../../../assets/scss/variables.scss";

.dropdown_link_wrapper {
  padding: 15px;
  cursor: pointer;
}

.dropdown_link {
  font-size: $font-14;
  color: $primaryColor;
  margin: 0;
}

.active_dropdown_link {
  font-size: $font-14;
  font-weight: $medium;
  color: $accentColor;
  margin: 0;
}

.dropdown_link_wrapper:hover {
  background-color: rgba($accentColor, 0.15);

  .dropdown_link {
    color: $accentColor;
    font-weight: $medium;
    transition: all 0.3s;
  }
}

.search_wrapper {
  width: 100%;
  background-color: rgba($placeholderText, 0.2);
  border-radius: 8px;
}

.empty_text_header {
  font-size: $font-20;
  color: $primaryColor;
  line-height: 2;
  letter-spacing: 0.5px;
  margin: 0;
}

.empty_text_sub_header {
  font-size: $font-14;
  color: $secondaryColor;
  letter-spacing: 0.5px;
  margin: 0;
}
