@import "../../../../assets/scss/variables.scss";

.overlay {
  height: 100vh;
  background: rgba($primaryColor, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.pop_up_card {
  width: 600px;
  background-color: $white;
  border-radius: 8px;
}

.input_wrapper {
  max-height: 500px;
  overflow: auto;
}

.order_id_text {
  font-size: $font-14;
  font-weight: $medium;
  text-align: center;
  color: $primaryColor;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .pop_up_card {
    width: 100%;
    margin: 20px;
  }
}
