@import "../../../assets/scss/variables.scss";

.header_back {
  height: 60px;
  padding: 0 20px;
  background-color: $white;
  box-shadow: 0 3px 10px 0 rgba($primaryColor, 0.15);
}

.marker {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: $accentColor;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba($accentColor, 0.15);
}

.marker_text {
  font-size: $font-12;
  font-weight: $medium;
  color: $white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
