html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
