html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.playground_without_order_summary {
  height: calc(100vh - 60px);
  transition: height 0.5s;
}
@media screen and (max-width: 600px) {
  .playground_with_order_summary {
    height: calc(100vh - 180px);
  }
}
